@font-face {
  font-family: cthulhian;
  src: url('../fonts/cthulhian.ttf');
}
span.library-journal {
  cursor: help;
  text-decoration-color: rgba(46, 49, 49, 0.8);
  text-decoration-line: underline;
	text-decoration-style: dotted;
}

.library-language-select-journal {
	display: inline;
}
.library-language-select-journal a {
  width: 6%;
}
.library-language-select-journal i {
	font-size: 18px;
  min-width: 3%;
	opacity: 50%;
}
.library-language-select-chat {
	flex: 0 0 28px;
	margin: 0 6px;
} 
.library-language-select-chat select {
    width: 200px;
    height: 24px;
    margin: 0 6px;
    background: rgba(255, 255, 245, 0.8);
}
.library-language-select-chat .speaking-toggle {
    max-width: fit-content;
}
.library-language-select-chat i {
    font-size: 20px;
    line-height: 28px;
    opacity: 50%;
}
.library-language-select-chat .active {
    opacity: 100%;
}

.library-text-label {
	color: darkgray;
	font-size: 0.8em;
}
.library-text-label:hover {
	color: black;
	cursor: pointer;
}
.library-text-label i {
	color: green;
	font-size: 10px;
	opacity: 50%;
}
.scramble i {
	color: red;
}
.library-text-label:hover i {
	opacity: 100%;
}
/* .library-translation-text{
	position:relative;
	padding-top: 16px;
	line-height: 24px;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0 0 2px #FFF inset;
    border-top: 1px solid #999;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.library-translation-text:before{
	position: absolute;
	content: attr(title);
	font-size: 14px;
	top: 0px;
	font-weight: bold;
	font-style: italic;
} */
